# Build directories
build/
Builds/
cmake-build-*/
bin/
obj/
*.exe
*.dll
*.lib
*.pdb

# Visual Studio
.vs/
*.user
*.vcxproj
*.vcxproj.filters
*.sln
*.suo

# MacOS
.DS_Store

# Codespaces / VSCode
.vscode/

# JUCE
JuceLibraryCode/
*.jucer

# Temporary
*.log
compilation_error.log
tmp/
*.zip
TOTALCODE*.txt
CONTROL_FILESCODE*.txt
Calibration*.txt
GoldenMaster*.txt
*.syx
Logs/
bundle_code/
*.txt
!README.md
!CMakeLists.txt
!best_practices.md
!THIRD_PARTY.md
