/***********************************************************************************************/

BODY {background-color: #1B5B65; background-image: url(../../images/bg.jpg);}

A:link {color: #0A1166;}
A:visited {color: #0A1166; text-decoration: underline; font-size: 100%;}
A:hover {color: #0A51E6; text-decoration: underline; font-size: 100%;}
A:active {color: #0A1166; text-decoration: underline; font-size: 100%;}

HR {color: #445830;}

/***********************************************************************************************/

.bgSection {background-color: #94A880; border: 2px solid #133F45; }

/***********************************************************************************************/
